
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.google.com/specimen/Outfit');

body {
    background-color: #F3E5D8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Young Serif', serif;
    line-height: 30px;
    padding: 50px 0px;
}

h1,h3 {
    font-weight: 300;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 600px;
}

p {
    hsl(14, 45%, 36%);
    font-size: small;
    color: rgb(141, 140, 140);
}

.container img {
    width: 100%;
    border-radius: 10px;
}

li {
    color: rgb(141, 140, 140);
}

.pt {
    background-color: hsl(330, 100%, 98%);
    padding: 15px;
    border-radius: 10px;
}

hr {
    height: 0.0002px;
    color: gray;
}

h3 {
    color: hsl(14, 45%, 36%);
}

.pt h3 {
    color: hsl(332, 51%, 32%);
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: medium;
}

#paragraph { 
    color: gray;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: smaller;

}

table {
    width: 100%;
    border-collapse: collapse;
}

tr:last-child {
    /* If the border is on the row itself (less common) */
    border-bottom: none;
}

td, th {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: hsl(14, 45%, 36%);
    color: white;
}

td:nth-child(even) {
    color: hsl(14, 45%, 36%);
    font-family: 'Outfit', sans-serif;
    font-weight: 800;
    font-size: small;
}

td:nth-child(odd) {
    color: gray;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: smaller;
}

ol, li::marker {
    font-weight: bold;
    color: hsl(14, 45%, 36%);
}

@media (max-width: 700px) {
    body {
        background-color: rgb(34, 34, 34);
    }

    .container {
        width: 49%;
        padding: 20px;
    }

}